/* stylelint-disable scss/at-import-partial-extension */
@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

.app {
  min-height: 100vh;

  font: var(--font-m);
  color: var(--font-color);

  background: var(--bg-color);
}

.content-page {
  display: flex;
  gap: calc(var(--content-page-gap) * 2);

  padding: var(--content-page-gap);
}

.page-wrapper {
  flex-grow: 1;

  padding: 20px;
}
