@import 'reset';
@import './variables/global';
@import './themes/light';
@import './themes/dark';

.app {
  min-height: 100vh;

  font: var(--font-m);
  color: var(--primary-color);

  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;

  padding: 20px;
}
