.select {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--inverted-primary-color);
  border: 2px solid var(--inverted-primary-color);
  border-radius: 5px;
}

.clear {
  background: none;
  outline: none;
}
