.sidebar {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height) - var(--content-page-gap) * 2);

  background: var(--menu-color);
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 5%);

  transition: width 0.3s ease-in-out;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 20px;

  & > * {
    text-decoration: none;
  }
}

.item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;

  height: var(--font-line-m);
}

.icon {
  height: 100%;
}

.link {
  opacity: 1;
}

.switchers {
  position: absolute;
  bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.toggle {
  position: absolute;
  right: -12px;
  bottom: 0;

  padding: 8px;

  & > * {
    transform: scale(-1, 1);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .toggle > * {
    transform: none;
  }

  .item {
    gap: 0;
    justify-content: center;
  }

  .link {
    width: 0;

    opacity: 0;

    transition: 0.2s opacity ease-in-out;
  }
}
