.app.dark {
  --bg-color: #9999e1;
  --inverted-bg-color: #e8e8ea;

  // --primary-color: #049604;
  --primary-color: #fff;
  --secondary-color: #04ff04;

  // --inverted-primary-color: #0232c2;
  --inverted-primary-color: #090949;
  --inverted-secondary-color: #0453ff;
}
