.navbar {
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--navbar-height);
  padding: 20px;

  background: var(--inverted-bg-color);
}

.links {
  display: flex;
  gap: 15px;

  margin-left: auto;
}
